.vscode/**
.vscode-test/**
out/**
**/node_modules/**
src/**
webview-ui/**
logs/**
.github/**
.env
.gitignore
esbuild.js
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
COPILOT.md
**/*.jsonl
